# Maven
backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.idea/

# Node
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
.dockerignore

